# Rust
debug/
target/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
venv/
venv_scream/

# IDE specific
.vscode/
.idea/
*.suo
*.user
*.sln
*.vcxproj*

# OS specific
.DS_Store
Thumbs.db
